body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
}

h2,
h4,
p {
	margin: 0;
}

h2,
h4 {
	color: white;
}

h2 {
	font-size: 2rem;
}

.movies-list_wrapper {
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
}

.main_wrapper header {
	background-image: url('/images/background-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75% 23%;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.img-text_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-text_wrapper img {
	height: 100px;
	opacity: 25%;
}

.img-text_wrapper p {
	color: rgb(190, 190, 190);
	font-weight: 600;
	font-size: 1.2rem;
}

input[type='search'] {
	padding: 17px;
	padding-left: 55px;
	width: 300px;
	height: 30px;
	background-image: url('/images/search.svg');
	background-repeat: no-repeat;
	background-position: left center;
}
