body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
}

a {
	text-decoration: none;
}

h2,
h4,
p,
a {
	margin: 0;
}

h2,
h4 {
	color: white;
}

h2 {
	font-size: 2.1rem;
}

.main_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list_container {
	margin-top: 50px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	background-image: url('/images/background-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75% 23%;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
	height: 18vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#header a {
	color: white;
	font-weight: 600;
}

#movies-list_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
}

#reel {
	height: 100px;
	opacity: 25%;
}

#start-text {
	color: rgb(190, 190, 190);
	font-weight: 600;
	font-size: 1.2rem;
}

input[type='search'] {
	padding: 17px;
	padding-left: 55px;
	width: 100%;
	height: 30px;
	background-image: url('/images/search.svg');
	background-repeat: no-repeat;
	background-position: left center;
	border: 2px solid rgb(190, 190, 190);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#form {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 16%;
}

#form button {
	padding: 5px 15px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(190, 190, 190);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	margin-left: -1.5px;
}

.start-display {
	height: 70vh;
}

.start {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hide {
	display: none;
}

.img-item {
	display: flex;
	align-items: center;
	width: 90%;
	min-height: 20vh;
	margin: 18px 0;
}

.img-item img {
	width: 130px;
}

#movies-list_wrapper hr {
	width: 90%;
	border: 1px solid rgb(244, 244, 244);
}

.desc {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.desc h3 {
	font-size: 1.1rem;
	margin-top: 0;
	margin-bottom: 8px;
}

.desc h3 span {
	font-size: 0.8rem;
	font-weight: 500;
}

.desc h5 {
	margin: 0 0 7px 0;
	font-weight: 500;
	font-size: 0.7rem;
}

.desc a {
	background-color: rgb(253, 229, 9);
	padding: 6px 8px;
	border-radius: 5px;
	color: black;
	font-size: 0.8rem;
}

.desc a span {
	font-weight: 800;
}

.desc button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.desc button:nth-of-type(2) {
	margin-top: 12px;
	font-weight: 600;
}

.btn-plot {
	color: rgb(106, 106, 106);
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.add-btn {
	background: black;
	color: white;
	font-weight: 200;
	font-size: 1.2rem;
	padding: 0 5px;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 10px;
}

.desc p {
	color: rgb(106, 106, 106);
	font-size: 11px;
	font-weight: 400;
	margin: 7px 0;
}
