@import './index.css';

.main_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70vh;
}

#watch-list_container {
	display: flex;
	flex-direction: column;
}

#emptyList_wrapper {
	flex-direction: column;
	margin: 0 auto;
	padding: 0 7px;
}

#emptyList_wrapper p {
	font-size: 1.1rem;
	font-weight: 600;
	color: rgb(190, 190, 190);
	text-align: center;
	margin-bottom: 15px;
}

#emptyList_wrapper a span {
	font-weight: 500;
}

#emptyList_wrapper a {
	font-size: 0.9rem;
	font-weight: 600;
	color: black;
}
